@use "./base.scss";

// put your custom CSS here!
.outline-list ul {
  list-style-type: none;
  padding-left: 0.5rem;
}
.outline-list li.level-2 {
  margin-left: 1rem;
}
.outline-list li.level-3 {
  margin-left: 2rem;
  font-style: italic;
}